@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  color-scheme: #f9f9f9;
}

@layer components {
  .nav {
    @apply relative tracking-[1px]
  }
  .nav::after {
    @apply content-[''] absolute bg-secondary h-[3px] w-[0%] left-0 -bottom-[3px]
  }
  .nav:hover::after {
    @apply w-[100%] duration-500 rounded-xl
  }
}

/* .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f1ebe3;
} */
